[2012-10-28 08:57] lioramsalem opened #1 "PCIE support"

[2012-10-28 08:57] lioramsalem opened #2 "mvebu-mbus DT binding"
The mvebu-mbus driver has been accepted without a DT binding, because there were disagreements on the proposed DT binding. This issue is about doing a proper DT binding.

[2012-10-28 08:57] lioramsalem opened #3 "XOR support"

[2012-10-28 08:57] lioramsalem opened #4 "USB (host) support"

[2012-10-28 08:59] lioramsalem opened #5 "IRQ - SMP & affinity support"

[2012-10-28 08:59] lioramsalem opened #6 "Local timers support"

[2012-10-28 08:59] lioramsalem opened #7 "Network driver support"

[2012-10-28 09:00] lioramsalem opened #8 "MSI interrupts"

[2012-10-28 09:01] lioramsalem opened #9 "uart irq 41 hang bug fix"
latest update from Thomas:
It is configured as a 16550 in the device tree, because it didn't work with 16750 (but we didn't investigate why). From Grégory consumption report, April 25th:

The datasheet claimed that the serial port are ns16750 compatible,
but they were problem on reception when I passed it to the device
tree. So I went back to 16550.

[2012-10-28 09:02] lioramsalem opened #10 "RTC support"

[2012-10-28 09:02] lioramsalem opened #11 "TWSI (i2c) support"

[2012-10-28 09:02] lioramsalem opened #12 "SPI support"

[2012-10-28 09:03] lioramsalem opened #13 "SDIO support"

[2012-10-28 09:03] lioramsalem opened #14 "PM (deep idle + hotplug)"

[2012-10-28 13:16] lioramsalem opened #15 "irq error on PCIE devices"
The device is working but i'm getting errors on the irq request:
# ifconfig eth0 up

irq 61: nobody cared (try booting with the "irqpoll" option)
[<c001437c>](unwind_backtrace+0x0/0xfc) from [<c0055110>](__report_bad_irq+0x20/0xb0)
[<c0055110>](__report_bad_irq+0x20/0xb0) from [<c005536c>](note_interrupt+0x1cc/0x228)
[<c005536c>](note_interrupt+0x1cc/0x228) from [<c00536a8>](handle_irq_event_percp

[2012-10-31 13:07] #15 closed, assigned to nobody

[2012-11-15 08:31] tpetazzoni opened #16 "mvneta: should read MAC address from hardware"
From Andrew Lunn:

[code]

[2012-11-19 14:20] gclement opened #17 "Serial irq not handle during kernbel boot"
During the kernel boot if you send a character then we get this message (on Armada 370 evaluation board):

[code]

[2012-12-04 16:31] #17 closed, assigned to nobody

[2013-01-04 13:59] #7 closed, assigned to tpetazzoni

[2013-01-04 13:59] #3 closed, assigned to lioramsalem

[2013-01-10 09:11] #9 closed, assigned to gclement

[2013-03-11 09:35] lioramsalem opened #18 "NETA bug in SMP operation"

[2013-03-26 17:28] #13 closed, assigned to tpetazzoni

[2013-03-26 17:28] #11 closed, assigned to gclement

[2013-03-26 17:29] #12 closed, assigned to ezequielgarcia

[2013-03-26 17:30] #10 closed, assigned to gclement

[2013-03-26 17:31] #6 closed, assigned to gclement

[2013-03-26 17:31] #4 closed, assigned to ezequielgarcia

[2013-03-26 17:36] tpetazzoni opened #19 "Thermal support for Armada 370/XP"

[2013-03-26 17:37] tpetazzoni opened #20 "mvebu-devbus driver (providing NOR support)"

[2013-03-26 17:37] tpetazzoni opened #21 "LPAE support"

[2013-03-26 17:38] tpetazzoni opened #22 "mvebu-mbus driver"
Driver that allows to create/remove address decoding windows dynamically. Needed as a dependency of the PCIe driver.

[2013-03-26 17:39] tpetazzoni opened #23 "NAND support for Armada 370/XP"

[2013-05-09 16:22] #18 closed

[2013-05-09 16:23] #22 closed, assigned to tpetazzoni

[2014-02-14 14:00] #21 closed, assigned to gclement

[2014-02-14 14:00] #5 closed, assigned to gclement

[2014-06-11 13:47] #23 closed, assigned to ezequielgarcia

[2014-06-11 13:47] #20 closed, assigned to ezequielgarcia

[2014-06-11 13:47] #19 closed, assigned to ezequielgarcia

[2014-06-11 13:48] #16 closed, assigned to tpetazzoni

[2014-06-11 13:49] #14 closed, assigned to haklai

[2014-06-11 13:49] #8 closed, assigned to tpetazzoni

[2014-06-11 13:50] #2 closed, assigned to tpetazzoni

[2014-06-11 13:52] #1 closed, assigned to tpetazzoni

[2014-06-11 14:10] tpetazzoni opened #24 "XOR: ensure mv_xor_status() takes the channel spinlock"
Ezequiel indicates he has sent a v2 on March, 7th, but it's not clear whether it was merged or not.

[2014-06-11 14:11] tpetazzoni opened #25 "XOR: add suspend/resume support"
The Marvell LSP has code to handle suspend/resume in the XOR driver. It would be good to mainline them, either by testing on Kirkwood (which has suspend/resume support), or once we have suspend/resume support on Armada 370/XP.

[2014-06-11 14:11] tpetazzoni opened #26 "cpuidle: add support for Armada 370"
The work to add cpuidle support for Armada 370 is on-going, done by Gregory.

[2014-06-11 15:05] tpetazzoni opened #27 "PJ4B: Armada XP errata 6124"
Mainline the workaround for the Armada XP errata 6124. The last patch was posted at http://www.spinics.net/lists/arm-kernel/msg246560.html, and we were requested to merge the workaround of errata 4611 in it.

Also, and what's more important, there was a question from Will Deacon about a chicken bit, which Lior had to look into with the design team, but never got back with an answer. Therefore I'm

[2014-06-11 20:58] #24 closed, assigned to ezequielgarcia

[2014-06-12 08:52] tpetazzoni opened #28 "aurora L2 cache: force write allocate"
This bug is about mainlining the patch 0006-l2-force-write-allocate.patch, which does:

[code]

in cache-l2x0.c for the Aurora cache.

What is missing to mainline this is a justification from Marvell, therefore I'm assigning this bug to Lior.

[2014-06-12 08:55] tpetazzoni opened #29 "PJ4B: enable static branch prediction"
This bug is about mainlining   0008-PJ4B-enable-static-branch-prediction.patch, which does:

[code]

in the PJ4B setup in proc-v7.S.

There are some pending questions:

This patch enables the PJ4B_STATIC_BP bit in the p15, 1, <x>, c15, c1, 1 register. However, the LSP has the following code:

[code]

So in fact the LSP disables static branch prediction when the errata 6409 is enabled. But this err

[2014-06-12 09:10] tpetazzoni opened #30 "PJ4B: Enable the STREX backoff delay mecahnism"
This is about mainlining  0002-fix-axp-Enable-the-STREX-backoff-delay-mecahnism.patch, which does:

[code]

for PJ4B in proc-v7.S.

[2014-06-12 09:12] tpetazzoni opened #31 "PJ4B: enable the snoop filter"
This is about mainlining the 0007-PJ4B-enable-write-evict.patch and 0009-enable-snoop-filter.patch patches.

Those two patches are in fact part of the same thing: enabling the snoop filter. There are two problems to solve however:
- On the implementation side, find a way of getting the physical address of the snoop filter control register (0x21020), knowing that this code must apparently be execut

[2014-06-12 09:16] tpetazzoni opened #32 "PJ4B: clear "shared l2 present""
This patch 0010-set-shared-l2-present.patch is about setting bit 16 in the CPU_CONFIG register. The current patch is done in the irqchip driver:

[code]

This patch raises two questions:
- Bit 16 in the CPU_CONFIG register is not documented in the datasheet. Therefore, we don't have enough details to write a commit log. That's something Marvell should give us more details about.
- No driver is cur

[2014-06-12 09:28] tpetazzoni opened #33 "SATA: new DMA I/O sync"
The patch 01-new-dma-io-sync.patch adds a call to dma_io_sync() at the beginning of mv_process_crpb_entries().

[code]

Unfortunately, the commit message doesn't give any explanation about this change. Lior told me that it solves some data corruption, but without more details. If there is indeed a problem, we need to understand what the problem is exactly, especially since calling dma_io_sync() is

[2014-06-12 09:29] tpetazzoni opened #34 "SATA: staggered spinup support"
This feature allows to spinup hard drive sequentially instead of in parallel, in order to support weak power supplies when many hard drives are used. This is a fairly complex feature, and no specific deadline has been set to implement it.

[2014-06-12 09:32] tpetazzoni opened #35 "SATA: quirk for Marvell 4140 port multiplier"
This is about mainlining 02-marvell-4140-quirk.patch:

[code]

This is not directly related to Marvell SoC support, but might be needed. Can you provide a few more details about this one? Should we mainline it as it is (we don't have hardware to test this) ?

[2014-06-12 09:34] tpetazzoni opened #36 "SATA: search through PMP links"
This is about 03-search-pmp-links.patch:

[code]

A patch, 03-search-pmp-links.patch, that changes the mv_get_active_qc() function to search through PMP links. I am not sure to fully understand how it works, why this is needed, and why only this change is needed in the driver to make things work. We also don't have hardware to verify the problem.

We need more details to make progress.

[2014-06-12 09:36] tpetazzoni opened #37 "XOR: DMA interrupt functionality"
This is about 01-dma-interrupt-support.patch, which implements the DMA_INTERRUPT capability in LSP 3.2.

We should decide whether it should be mainlined or not, and see whether Lior improvements to the XOR driver in 3.10 include this change.

[2014-06-12 09:37] tpetazzoni opened #38 "XOR: add dma_io_sync() call"
The patch 02-dma-io-sync-coherency.patch does:

[code]

We need to understand why it is needed and see if a fix is needed in mainline.

[2014-06-12 09:47] tpetazzoni opened #39 "Add splice to socket functionality"

[2014-06-12 09:47] tpetazzoni opened #40 "Optimized XOR memcpy driver"
Understand why this separate XOR driver is needed, and how a similar functionality can be mainlined.

[2014-06-12 09:48] tpetazzoni opened #41 "RAID6 support in XOR driver"
Marvell to provide the corresponding code.

[2014-06-12 09:49] tpetazzoni opened #42 "Crypto support improvements for Armada 370/XP"
Marvell to provide the details.

[2014-06-12 09:49] tpetazzoni opened #43 "cpuidle: add support for Armada 380"

[2014-06-12 09:51] tpetazzoni opened #44 "cpu hotplug: support for Armada XP"
A first version was posted by Thomas on May, 30th 2014 at http://lists.infradead.org/pipermail/linux-arm-kernel/2014-May/261080.html. It was tested on Armada XP, normal CPU hotplug, but also kexec.

[2014-06-12 09:51] tpetazzoni opened #45 "suspend/resume: support for Armada XP"
Thomas has started looking at the code, and will receive the appropriate hardware platform soon.

[2014-06-12 09:52] tpetazzoni opened #46 "cpufreq: support for Armada 370, XP, 380"

[2014-06-12 09:53] tpetazzoni opened #47 "Support Armada 380 A0 stepping"
Once Free Electrons receives the A0 stepping of the Armada 380, ensure it works properly in mainline compared to the Z1 stepping that was supported until now.

[2014-06-12 09:54] tpetazzoni opened #48 "core: support I/O coherency on !SMP configurations"
This feature is about making hardware I/O coherency work on !SMP configurations. Thomas has already started working on this feature, and posted some patches on the LAKML: http://lists.infradead.org/pipermail/linux-arm-kernel/2014-May/258200.html. Discussions are on-going with Russell King.

[2014-06-12 11:41] #38 closed, assigned to lioramsalem

[2014-06-12 11:41] #37 closed, assigned to lioramsalem

[2014-06-16 10:23] tpetazzoni opened #49 "timer: Armada 370 timer drift issue"
Reported by Raphaël Rigo ml-arm@syscall.eu in http://lists.infradead.org/pipermail/linux-arm-kernel/2014-June/263718.html. The submitter experiences clock drift on Armada 370 ReadyNAS, and posted some relevant workaround from the Netgear kernel sources.

However, the LSP 3.2 seems to have a more generic work around, that uses the SSCG register values to calculate the real frequency used by the tim

[2014-06-28 12:16] tpetazzoni opened #50 "core: use cached mappings for dma_alloc_coherent() allocations"
Nadav has debugged various hangs related to hardware I/O coherency, which are related to the fact that we need to enforce coherent mappings to be mapped cacheable (while they are normally mapped non-cacheable to provide the coherency property). Nadav has written a patch to do this, Thomas should clean it up and upstream it.

[2014-07-08 09:45] #28 closed, assigned to haklai

[2014-07-22 10:06] tpetazzoni opened #51 "spi-orion: Fix SPI baudrate calculation"
The driver implements the Kirkwood way of setting the SPI baudrate, but it has changed in Armada XP, 375 and al.

[2014-09-08 13:46] #43 closed, assigned to gclement

[2014-09-08 13:46] #44 closed, assigned to tpetazzoni

[2014-09-08 13:49] #51 closed, assigned to tpetazzoni

[2014-09-08 13:50] #26 closed, assigned to gclement

[2014-10-15 08:33] #49 closed, assigned to nobody

[2014-10-21 14:19] tpetazzoni opened #52 "Possible gpio-mvebu issue"
Evgeniy A. Dushistov reported an issue in the old plat-orion/gpio.c driver, and he claims the same issue applies to gpio-mvebu. This needs to be investigated, and potentially fixed.

See "Subject: [PATCH] fix for certain sequnce of request_irq can cause irq storm" on LAKML, from July, 26th 2014.

[2014-10-28 08:28] tpetazzoni opened #53 "DMA support in mvsdio not working properly"
Andrew Lunn reported that the Wifi chip connected on SDIO on the Mirabox only works if you disable the DMA support in the mvsdio driver. This sounds like the DMA support has some issues. Maybe we should investigate that and fix the DMA support in mvsdio.

[2014-10-29 09:51] shrakrak opened #54 "PCIE BAR registers are not configured to 64 bit address"
according to PCI configuration space spec (http://wiki.osdev.org/PCI)
bits 1-2 of the BAR register define the size of the BAR address.
0x0 - 32 bits
0x2 - 64 bits
in our driver we assume the BAR is 64 bits but we configure it as 32. since out DRAM is always at 0x0 by chance this doesnt cause any issue
see pci-mvebu.c :228

also its worth checking the meaning of prefetchable bit (bit 3 of BAR regis

[2014-10-29 09:55] shrakrak opened #55 "PCIE host not working with PCI-E switch"

[2014-12-12 20:41] ezequielgarcia opened #56 "network: Properly support highmem in network drivers"
Russell King reported a regression with the kirkwood/dove ethernet driver highmem support. The same issue apparently is found in mvneta.

Using page_address() and dma_map_single() is problematic, because the page might be in high memory and not have an address. More info:

http://permalink.gmane.org/gmane.linux.network/342712
http://www.spinics.net/lists/arm-kernel/msg385224.html

[2014-12-29 16:37] #45 closed, assigned to tpetazzoni

[2014-12-29 16:38] #33 closed, assigned to lioramsalem

[2014-12-29 16:39] #30 closed, assigned to tpetazzoni

[2014-12-29 16:40] #46 closed, assigned to nobody

[2014-12-29 16:40] tpetazzoni opened #57 "cpufreq: support for Armada 370"

[2014-12-30 10:14] tpetazzoni opened #58 "cpufreq: support for Armada 38x"

[2014-12-30 10:16] #53 closed, assigned to nobody

[2014-12-30 10:17] tpetazzoni opened #59 "PCIe: add suspend/resume support"
The LSP has some code to implement suspend/resume support.

[2015-01-09 10:38] tpetazzoni opened #60 "Review SDHCI description on Armada 385 in mainline"
Several things:

- armada-385-rd.dts in mainline doesn't have a sdhci description, but it does in the LSP.
- Make sure we have no-1-8-v everywhere in Armada 38x DTS for sdhci
- Look if the wp-inverted property really makes sense

[2015-01-21 09:44] gclement commented on #60
* SDHCI descritpion for Armada 38x RD submitted: http://thread.gmane.org/gmane.linux.kernel.mmc/30729
* no-1-8-v is everywhere on the  Armada 38x DTS for sdhci
* wp-inverted is mandatory when no gpio is used for WP, because the value of the Write Protect bit(bit 19) in the Present State register (0x24) of the sdhci is always 0 which according to the SD card sepc means "Write protected"

[2015-03-30 11:51] tpetazzoni commented on #59
Patch submitted at http://article.gmane.org/gmane.linux.kernel.pci/40010/, and applied by the PCI maintainer for Linux 4.1.

[2015-03-30 11:51] #59 closed

[2015-03-30 11:51] #60 closed

[2015-03-30 11:52] tpetazzoni commented on #50
Upstream as of Linux 4.0, in commit http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/arch/arm/mach-mvebu?id=1bd4d8a6de5cda605e8b99fbf081be2ea2959380.

[2015-03-30 11:52] #50 closed

[2015-03-30 11:52] tpetazzoni commented on #47
The GP platform is now supported in mainline.

[2015-03-30 11:52] #47 closed

[2015-03-30 11:53] tpetazzoni commented on #58
Some code is now available in the LSP, written by Neta. To be reviewed, cleaned up if needed, and submitted.

[2015-03-30 12:23] gclement opened #61 "network: mvpp2 causes kernel panic under stress"
The test consists in a lighttpd server + php-cgi running on the Armada
375, with a "stupid" PHP script doing:

 <?php phpinfo(); ?>

And then from a remote machine, 5 or 6 infinite loops of wget
fetching the URL thats run this PHP script.
It makes the kernel crashes after few hours.

[2015-03-30 12:25] tpetazzoni commented on #61
Note that this happens with the improvements patches from Marcin. Without those patches (i.e pure mainline), in crashes in a few minutes.

[2015-03-30 12:29] gclement opened #62 "PM: CPU Idle doesn't work on Armada 38x"
Under some circumstance (PCIe related  but not only), kernel hangs when CPU idle is enabled.

[2015-03-30 12:32] gclement opened #63 "PM: Armada XP USB resume makes system hang"
On Armada XP, when the EHCI controllers are kept enabled, the resume process hangs the system very shortly after the USB resume. Not *inside* the USB ->resume() hook, but shortly afterwards. Disabling the EHCI controllers in the Device Tree works around the problem.

[2015-03-30 12:35] gclement opened #64 "PCI: On Armada XP, sata transfer over PCIe hang"
basically, any serious PCIe activity seems to be hanging the system. Most of the time it's a hard lockup (no sysrq, the HW debugger says the cores are around 0xffff0000), a few times sysrq was still working, but not showing anything useful.

A simple:
     for i in $(seq 0 64) ; do dd if=/dev/urandom of=file$i bs=1M count=16 ; done
executed in an ext4 filesystem mounted on a single SATA drive conn

[2015-03-30 12:37] gclement opened #65 "PM: Armada XP suspend/resume cause data corruption"
On a Armada XP GP, generate a bunch of files containing random data, and store their MD5 in a file. Do a suspend/resume, check the MD5. Almost in all cases, one file will have a wrong MD5. Unmounting/remounting the filesystem after resume will lead to the correct MD5 being found. Seems like the suspend/resume cycle has somehow corrupted the page cache contents or something like that.

[2015-03-30 12:45] gclement opened #66 "network: mvneta should use private interrupt"
mventa use interrupt as global interrupt whereas at the irq controller level they are per cpu. That means that enable and disable this interrupt can't work. Both the mpic driver and the mvneta driver should be modified.

[2015-03-30 12:51] gclement opened #67 "Optimize L2 cache performance and power consumption"
- on LSP some specific initalizationis done for the L2CC on Armada 375 and Armada 38x
- check if the property "wt-override" is used on purpose for Armada 370 and Armada XP

[2015-03-30 12:57] tpetazzoni commented on #67
For the 375/38x part, I've already started working on it.

[2015-03-30 12:58] gclement opened #68 "thermal: improve stabitlity"
A patch have been posted in order to improve stability, but there is still pending question:
http://thread.gmane.org/gmane.linux.drivers.devicetree/109794

[2015-03-30 13:05] gclement opened #69 "hw-breakpoint: Warning about undefined instruction"
Since the introduction of the perf support the following message appeared in the boot log:
hw-breakpoint: Debug register access (0xee003e17) caused undefined instruction on CPU 0
hw-breakpoint: CPU 0 failed to disable vector catch
(for all CPUs)

[2015-03-30 13:09] gclement opened #70 "XOR: improve stability"
Port the LSP improvement in mainline

[2015-04-02 15:37] gclement commented on #52
There was indeed a bug. A fix has been sent "[PATCH] gpio: mvebu: Fix mask/unmask managment per irq chip type" on linux-gpio@vger.kernel.org and linux-arm-kernel@lists.infradead.org mailing list.

[2015-04-02 16:01] gclement commented on #54
According to the datasheet (I checked Armada XP and Armada 38x) bit 1-2 are read only and always equals to 0x2. So there is no need to setup it again in the driver. Maybe a comment could be added.
Same for bit 3, is it also read only and equal to 0x1.

[2015-04-02 16:55] mv-star commented on #54
Hey Gregory

Indeed the value is set to 0x2 which means 2 bar registers should be used
per window and not one
If I remember correctly the driver uses a single bar register.
The register offset calculation assumes that, no?
On Apr 2, 2015 7:01 PM, "Gregory Clement" <notifications@github.com> wrote:

[2015-04-02 17:17] mv-star commented on #54
Also, I suspect the size bits are modifiable after all.

i clearly remember modifying them when i wrote a new u-boot driver for PCI-E

can you try and modify those bits ?

i suspect this might be a bug in the Spec

Yehuda

Hey Gregory

Indeed the value is set to 0x2 which means 2 bar registers should be used
per window and not one
If I remember correctly the driver uses a single bar register.
The

[2015-04-23 12:05] stsp commented on #64
Any updates to this?
Seems like I am having this too with the
vanilla kernel but not with marvell's 3.2 kernel.
I am using mvsas driver (my board has sas controller),
and on hdd activity there is a lock-up.

[2015-04-23 12:13] stsp commented on #64
Also this may be related:
http://www.spinics.net/lists/arm-kernel/msg411431.html

[2015-04-24 15:21] stsp opened #71 "kernel hang on any Oops"
Hello.

Not sure if this is the right place to report the
armada-xp related bugs, but I hope so.

It seems any Oops results in a kernel panic and
machine freeze. To reproduce, you only do:
echo c >/proc/sysrq-trigger
Normally this should Oops and kill the bash process.
On armada-xp it causes a kernel panic instead, and
the freeze.

[2015-04-28 17:00] gclement commented on #71
the linux-arm-kernel mailing list should be an ever better place to report this. I have just try it on an Armada XP based board and I managed to reproduce it. But on another very different platform (an OMAP based one) I observed the same behavior: kernel panic. So it might be not related to Armada XP but maybe to ARM. That's why it would worth to report this on the mailing list.

[2015-04-28 17:20] stsp commented on #71
Even worse: I've just locked up my PC with this!
So the regression looks generic, not even arm-specific.
I reported it here:
https://bugzilla.kernel.org/show_bug.cgi?id=97461
Sorry for bothering you with that. I have not expected
such a serious regressions can survive in generic
kernel code for so long...

[2015-04-28 17:20] #71 closed

[2015-04-29 06:31] shrakrak commented on #54
The BAR are configure fine in regards to 64 bit addresses.

[2015-04-29 06:31] #54 closed

[2015-05-14 14:37] stsp commented on #64
By reverting the aforementioned patch and
also disabling pmsu, one of our engineers seem
to have got a stable system, no PCIe hangs.
Can this help?

[2015-05-23 07:03] tpetazzoni commented on #64
I will be taking care of this issue next week.

[2015-05-23 07:19] tpetazzoni opened #72 "GPIO count discrepancy on Armada 38x"
The Armada 38x DT says the second GPIO bank has 28 GPIOs, but the pinctrl driver only declares 27 in the gpio ranges.

[2015-05-23 07:20] tpetazzoni commented on #69
Maxime, I thought you had a look at this issue. Can you give an update?

[2015-05-23 07:21] tpetazzoni commented on #62
Gregory, isn't this bug "fixed" now that we have completely disabled cpuidle on Armada 38x?

[2015-05-23 08:56] stsp commented on #64
It seems the hang happens only when
the pmsu is in DEEP_IDLE state.
There is a patch:
http://lkml.iu.edu/hypermail/linux/kernel/1503.1/05016.html
With this patch we do not observe ever
entering the DEEP_IDLE state, end neither
the lock-up. Of course I suspect this is not
a real fix at all. Maybe it will enter DEEP_IDLE
state under some other conditions and will
hang again.

[2015-05-25 08:50] tpetazzoni commented on #64
Reverting http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/drivers/bus/mvebu-mbus.c?id=1737cac6936938a9bc52c03c4a3ff2032c702fa5 only should fix the problem. I don't really see why reverting another patch would be needed.

Are you working on Armada XP or Armada 38x ?

[2015-05-25 11:54] stsp commented on #64
I am on armada-XP, but the difference is that
I use mvsas controller instead of sata.
Please note that the patch
http://lkml.iu.edu/hypermail/linux/kernel/1503.1/05016.html
may probably already be applied for you, so you
may not notice the problem because of that.

[2015-05-25 15:45] gclement commented on #69
For my point of view we are waiting for more information from Marvell on this point

[2015-05-25 15:48] gclement commented on #52
Merged in with 61819549f572edd7fce53f228c0d8420cdc85f71

[2015-05-25 15:48] #52 closed

[2015-05-25 15:52] gclement commented on #62
I would like to have a proper solution for this bug. Either completely removing CPU Idle if it does not work at all, or being able to enable for some configuration. The best solution would be to find a fix or a work around.

[2015-05-26 10:07] stsp commented on #62
Why is this not a problem with armada-XP?
I am pretty sure I have that on armada-XP,
but only in DEEP_IDLE state.

This patch:
http://lkml.iu.edu/hypermail/linux/kernel/1503.1/05016.html
prevents entering DEEP_IDLE, and the problem
no longer appears. Is it the same on Armada 38x?

[2015-05-27 16:16] stsp opened #73 "spi broken on armada-XP"
I have armada-XP board with an spi flash that
is identified this way:
m25p80 spi0.0: n25q128a13 (16384 Kbytes)
When I read it, the first byte in the transfer
appear to be random, but all subsequent bytes
are fine.
This problem does not appear on marvell kernel.

[2015-05-27 20:01] gclement commented on #73
Could you test the last series sent about the SPI ?
http://thread.gmane.org/gmane.linux.ports.arm.kernel/416054

[2015-05-27 20:15] gclement commented on #73
On the Armada XP GP board I manged to reproduce the issue (it use the same SPI flash). With the series applied, the values are no more random and are the same ones that the ones read under U-boot.

So this series fix the issues, actually the patch "spi: orion: Fix maximum baud rates for Armada 370/XP" is enough. It will be part of the 4.2 release and should be backported on all the stable kernel.

[2015-05-27 20:15] #73 closed

[2015-05-27 22:44] stsp commented on #73
Thanks Gregory!
Will try tomorrow.
In a mean time I've found this thread:

yes it is! :/

IMHO the typo was in that sentence:

"on" should read as "one"

[2015-05-28 08:43] tpetazzoni commented on #64
I sent a patch which fixes DMA problems on Armada XP, see http://lists.infradead.org/pipermail/linux-arm-kernel/2015-May/346937.html.

I will test after reverting the patch http://lkml.iu.edu/hypermail/linux/kernel/1503.1/05016.html, to see if I can reproduce the issue reported by @stsp

[2015-05-28 09:26] tpetazzoni commented on #64
I just did a test after reverting "cpuidle: mvebu: Update cpuidle thresholds for Armada XP SOCs", running bonnie++ with a 8GB size on an ext4 filesystem mounted over a PCIe SATA card, and it worked alright.

I'll close the bug for now because I believe things are working. If not, don't hesitate to reopen, but please provide a detailed test case for us to reproduce the problem.

[2015-05-28 09:27] tpetazzoni commented on #55
No details since October, so I'm closing this issue.

[2015-05-28 09:27] #55 closed

[2015-05-28 09:39] stsp commented on #64
Thomas, do you have a git tree on which I can
test things to make sure we are testing the same
thing? For now I am just collecting the patches
from here and there to make things barely working,
so our tests do not match.

[2015-05-28 09:40] stsp commented on #64
Please note that I can't re-open this bug
(not that I wanted, but still).
You might have locked that possibility somehow.

[2015-05-28 09:51] tpetazzoni commented on #64
@stsp Can you test with the branch at https://github.com/MISL-EBU-System-SW/mainline-public/tree/4.1/mvebu-mbus-fixes-new, using mvebu_v7_defconfig as the configuration?

[2015-05-28 10:34] stsp commented on #64
No because your defconfig doesn't support mvsas
(and many other things I need). I'll be testing your
branch with my config now.

[2015-05-28 11:17] stsp commented on #64
OK, I want to re-open this bug because this command:
dd if=/dev/sda of=/dev/null bs=1M count=1000000 iflag=direct
immediately hangs the system.
Here's the git log so that you know what am I up to:

commit c0091b649bcc4462b94e8913a5c263dc4b3382fa
Author: stsp
Date:   Thu May 28 13:35:29 2015 +0300

    Revert "ARM: Blacklist GCC 4.8.0 to GCC 4.8.2 - PR58854"

    This reverts commit 7fc150543c73de7

[2015-05-28 11:18] stsp commented on #64
I will now mail you my config and dts as it seems
github doesn't support file attachments.

[2015-05-28 11:30] stsp commented on #73
Patch tested and works, thanks!

[2015-05-28 11:47] tpetazzoni commented on #64
Can you confirm on which kernel version / branch exactly you can reproduce this issue? Can you test with the internal SATA ?

[2015-05-28 11:51] stsp commented on #64
See the git log above: I am on commit 00f8d63, which
is of the branch 4.1/mvebu-mbus-fixes-new.

I'll try, this will take a few days perhaps.

Can you try my binary kernel I've mailed you or
my config? Maybe you'll reproduce...

[2015-05-28 11:55] stsp commented on #64
Oh, if you mail me the u-boot image for armada-xp-gp
board, then yes! :) So far I wasn't able to build anything
that works.

[2015-06-02 12:49] stsp commented on #64
Hello Thomas.
I've finally booted my RD-78460-SERVER board and
reproduced the lock-up there as well, with exactly same
kernel. So mv-sata is affected as well.
What can I do to help you reproduce the problem?

[2015-06-02 13:52] tpetazzoni commented on #64
I'm currently away this week. But maybe @gclement can try to reproduce. If not, I'll try to reproduce next week.

[2015-06-02 14:13] stsp commented on #64
Thanks!
If Gregory also needs my config or binary kernel
with appended DT - please tell me and I'll mail it.

In fact, I'd like to test with defconfig and default DT
to reduce the problem of reproducing this.
Could you please hint me what DT should be used
for RD-78460-SERVER board?

[2015-06-02 15:38] stsp commented on #64
OK, reproduced with defconfig and armada-xp-gp dts.

[2015-06-02 15:54] gclement commented on #64
OK so I will try on the Armada XP GP board

[2015-06-02 16:01] stsp commented on #64
The test command is:
dd if=/dev/sda of=/dev/null bs=1M count=1000000 iflag=direct

My board is RD-78460-SERVER, not sure how it differs
from XP GP.

[2015-06-02 16:20] stsp commented on #64
Please don't forget about
git revert ce6031c89

[2015-06-03 20:25] gclement commented on #64
I didn't mange to reproduce it, I had I/O error before (But it is possible that my board was damaged).
Could you sent the kernel image and your .config?

[2015-06-03 22:47] stsp commented on #64
Will do tomorrow, thanks for trying.
Although since I've used the default config
and default DT, it will unlikely help...
Just to make sure, you reverted  ce6031c before
testing, right?
Do you have the RD-78460-SERVER reference
board somewhere? Also can we somehow compare
the CPU cut/stepping/whatever? Maybe your soc
is somehow a bit newer than mine?

[2015-06-03 22:53] stsp commented on #64
Also please add "pm_disable" to your bootargs.
That's how I tested.

[2015-06-04 08:30] gclement commented on #64
Having your binary may help to be sure that it was not a compiler related problem.
From U-Boot I got:
Board: RD-AXP-GP rev 1.0
SoC:   MV78460 B0
       running 4 CPUs
       Custom configuration
CPU:   Marvell PJ4B (584) v7 (Rev 2) LE.
I didn't used pm_disable, I will try with this one

[2015-06-04 09:41] stsp commented on #64
Please don't - I already tested and made sure it is irrelevant.
I'll mail you everything very soon.

[2015-06-04 12:10] stsp commented on #64
Gregory, I mailed you my kernel (with DT), config
and u-boot. Please don't tell me its still not reproduceable. :))

Here's my /proc/cpuinfo:

processor       : 0
model name      : ARMv7 Processor rev 2 (v7l)
BogoMIPS        : 1594.16
Features        : half thumb fastmult vfp edsp thumbee vfpv3 tls idiva idivt vfpd32 lpae
CPU implementer : 0x56
CPU architecture: 7
CPU variant     : 0x2
CPU part

[2015-06-04 12:12] stsp commented on #64
Board: RD-AXP-GP rev 1.0
SoC:   MV78460 B0
       running 4 CPUs
       Custom configuration
CPU:   Marvell PJ4B (584) v7 (Rev 2) LE

That's what I get from u-boot.
So either our CPUs are similar, or u-boot just configured
that way and doesn't read the actual info.

[2015-06-04 12:13] gclement commented on #64
Finally I managed to reproduce the issue. Actually, I didn't use the mvebu_v7_defconfig in the first place.
The other change I made was initially I used a initramfs, now I use an nfsroot.
The last change is that I perform the dd on a small SSD disk on sda whereas initially I used a "real" hard drive on sdb.

[2015-06-04 12:13] stsp commented on #64
Wow!!!
Great news!
Please keep me updated.

[2015-06-08 11:22] stsp commented on #64
Any news?
I would be especially interested to know with
what exactly config you were not able to reproduce
it initially? Is there some macigal config that just works?

[2015-06-08 13:42] stsp opened #74 "how to enable ECC?"
Hi guys.

Sorry for a support question, I am unable to
enable ECC machinery for armada-xp.
I enabled EDAC in the kernel, but I can't find the
armada-specific driver. edac-util says:
edac-util: Error: No memory controller data found.
All I need is to get the count of ECC errors.
How to do that?

[2015-06-08 13:53] yotamadmon commented on #74
DRAM ECC or L2 ECC?
DRAM ecc should be enable by U-boot.
ECC counters are 0x1458 (single bit) and 0x145c (double bit).
Thanks,
Yotam

________________________________
Yotam Admon
Staff Application Manager
Controllers and SOC Product Line
EBU Customer Solution Group
Marvell Israel LTD
6 Hamada Street, P.O.B. 192
Yokneam 2069203, ISRAEL
Email: yotam@marvell.com<mailto:yotam@marvell.com>
Office:  +97

[2015-06-08 14:03] stsp commented on #74
I meant DRAM ECC.
Is there a driver for armada-xp for edac-utils to work?
Or should I go for a custom solution to read these regs?

[2015-06-08 14:15] tpetazzoni commented on #74
@stsp Please always indicate which kernel version you are talking about. Since you're posting in the "mainline-public" repository, I assume you're talking about the mainline kernel. And if that's the case, then the answer is easy: there is no support for Armada XP ECC in the mainline kernel, be it for the DRAM or L2 ECC.

This has so far not been a priority, so it has never been on our TODO-list.

[2015-06-08 14:15] #74 closed

[2015-06-10 08:16] tpetazzoni commented on #72
I've sent a set of patches at http://lists.infradead.org/pipermail/linux-arm-kernel/2015-June/349501.html to fix various pinctrl issues. Patches 8 and 9 are fixing this issue for Armada 38x and Armada 39x.

[2015-06-10 08:20] tpetazzoni commented on #62
@stsp No, the problem shouldn't appear on Armada XP. Armada XP uses the PJ4B-MP CPU core, while Armada 38x uses Cortex-A9. The specific reason why cpuidle is problematic on Armada 38x is because when HW I/O coherency is enabled, we are not allowed to do PL310 maintenance operations through MMIO registers due to a HW deadlock between PL310 and PCIe. This problem does not affect Armada XP.

[2015-06-10 08:20] tpetazzoni commented on #62
@gclement In my opinion, it's an issue that will never be fixed. So instead of keeping an issue opened forever, I'd prefer to close it, and reopen it later if Marvell ever finds a fix for it which I believe is quite unlikely.

[2015-06-10 09:59] stsp commented on #62
Thanks for info.
Then the bug 64 needs a separate explanation.
Hope you can reproduce it.

[2015-06-12 19:23] tpetazzoni commented on #70
Patches have been merged by the dmaengine maintainer, they will be in 4.2.

[2015-06-12 19:23] #70 closed

[2015-06-12 19:23] tpetazzoni commented on #72
Patches have been merged by Linus Walleij, see https://git.kernel.org/cgit/linux/kernel/git/linusw/linux-pinctrl.git/commit/?h=for-next&id=27e7cd016558bf787b128fd882cdd90409ae4036 and https://git.kernel.org/cgit/linux/kernel/git/linusw/linux-pinctrl.git/commit/?h=for-next&id=7c580311a2cb3bb0d0188665c9c69227aed650ea. They will be in 4.2.

[2015-06-12 19:23] #72 closed

[2015-06-12 19:25] tpetazzoni commented on #67
For Armada 375, 38x and 39x, patches have been submitted to the LAKML: http://lists.infradead.org/pipermail/linux-arm-kernel/2015-June/350003.html, http://lists.infradead.org/pipermail/linux-arm-kernel/2015-June/350000.html.

[2015-06-12 19:25] tpetazzoni commented on #62
Non-working cpuidle on Armada 38x is currently a hardware issue, for which we're waiting for a proposed workaround. There's no point in keeping a bug tracker entry opened for that.

[2015-06-12 19:25] #62 closed

[2015-06-12 19:26] tpetazzoni commented on #42
@bbrezillon has already posted several iterations of a new crypto driver. The latest version, v4, was posted on June 12, see http://lists.infradead.org/pipermail/linux-arm-kernel/2015-June/350221.html.

[2015-06-18 13:08] tpetazzoni commented on #56
@ezequielgarcia Can you update on the status of this issue?

[2015-06-30 13:51] tpetazzoni commented on #36
@lioramsalem said it was not necessary to mainline this fix, it was customer specific and no longer needed. Closing.

[2015-06-30 13:51] #36 closed

[2015-06-30 13:52] tpetazzoni commented on #25
Patch submitted at http://lists.infradead.org/pipermail/linux-arm-kernel/2015-June/351020.html, and v2 submitted at http://lists.infradead.org/pipermail/linux-arm-kernel/2015-June/351136.html.

[2015-06-30 14:11] tpetazzoni commented on #35
Patch sent to the linux-ide@ mailing list today, under the title "[PATCH] ata: pmp: add quirk for Marvell 4140 SATA PMP".

[2015-06-30 14:12] tpetazzoni commented on #42
The crypto driver has been merged, and will show up in 4.2. It still needs further improvements in various directions, but they should be tracked with separate bugs for each topic, therefore I'm closing this bug.

[2015-06-30 14:12] #42 closed

[2015-06-30 14:26] tpetazzoni commented on #40
As suggested by @lioramsalem, this was a custom thing done for Armada 370 on 3.2, we will never mainline this. Closing.

[2015-06-30 14:26] #40 closed

[2015-06-30 14:47] ezequielgarcia commented on #56
This issue was supposedly closed and fixed. However, a user (Dr. Uwe Meyer-Gruhl) recently reported the regression was still there. While at it, the user complained about the fixed not being picked [1].

I replied [2] explaining that the fix *was* picked, and asking for further details but there wasn't a reply since. If the problem persists, all I can offer is (sadly) to disable TSO by default.

[

[2015-07-01 15:14] tpetazzoni commented on #64
I've tested with Linux 4.1, mvebu_v7_defconfig with no change except using an initramfs, on Armada XP GP, with a 8 GB SSD drive, and dd works perfectly fine:

# /usr/bin/dd if=/dev/sda of=/dev/null bs=1M count=1000000 iflag=direct
7627+1 records in
7627+1 records out
7998455808 bytes (8.0 GB) copied, 163.763 s, 48.8 MB/s
#

I.e, no problem at all.

[2015-07-01 15:33] stsp commented on #64
Gregory, could you help Thomas reproducing?

Thomas, my testing shows that reproducing with
SSD is more difficult. Do you have HDD?

[2015-07-01 15:37] tpetazzoni commented on #64
@stsp Test started on a 500 GB HDD.

[2015-07-01 15:40] stsp commented on #64
If you don't reproduce it in 10 seconds, you probably
can't, so don't spend too much time on testing.
Hope Gregory can help... He said he can reproduce.

[2015-07-01 15:41] stsp commented on #64
Just to make sure, you reverted ce6031c before
testing, right?

[2015-07-01 15:57] tpetazzoni commented on #64
No, I did not revert ce6031c before testing. So what you say is that with the current kernel it works thanks to the cpuidle threshold change, but if we revert back to the more aggressive thresholds, it no longer works?

And indeed, I have been running the dd test on a HDD since 20 minutes, and the board is still alive so far.

[2015-07-01 16:02] stsp commented on #64
Yes, exactly.
I mentioned many times in this thread, that commit
ce6031c obscures the problem by _never_ entering
DEEP_IDLE state. That was the trick to hide the real
bug perhaps (it comes from some marvell patch).
You need to revert that commit, and, as soon as you
in DEEP_IDLE state, you lock up.

[2015-07-01 16:25] stsp commented on #64
Don't spend much time on that.
Better to do 5  1-minute tests changing SSD/HDD
than 1 20-minute test, because the problem either
reproduces immediately, or not at all.
Though I hope after reverting the commit you'll have
no problems reproducing.

[2015-07-02 10:20] tpetazzoni commented on #64
I confirm I can reproduce the issue after reverting ce6031c.

[2015-07-02 10:32] stsp commented on #64
Yeah! Great news, thank you.
I wish such a patch is in fact reverted: it secretly
disables DEEP_IDLE, which is not only obscuring
the bug but is also deteriorating the power saving.
Such things must be clearly changelogged, or never
done. Gross.

[2015-07-02 15:53] tpetazzoni commented on #64
@stsp Contrary to what you say, ce6031c does not make it impossible to enter the idle state. Indeed in the default mvebu_v7_defconfig, NO_HZ is not enabled, so we have a tick every 10 ms, so we never enter DEEP_IDLE. However, if you enable NO_HZ, the 10 ms tick is disabled when the system is idle. And we indeed enter DEEP_IDLE, both when the system is idle *and* when the dd program is running. But

[2015-07-02 15:56] tpetazzoni commented on #64
@stsp Correction: the freeze just occured. It just took longer.

[2015-07-02 15:58] stsp commented on #64
Thanks for an update.
I was about to start testing with NO_HZ.
Now this won't be needed.

[2015-07-02 16:02] stsp commented on #64
Now this means you can reproduce the
bug even without any reverts - very good!

[2015-07-02 16:03] tpetazzoni commented on #64
Reverting the patch, I could reproduce the problem faster, and this time got a:

[  218.943155] Unable to handle kernel NULL pointer dereference at virtual address 00000000

but nothing else.

[2015-07-02 16:16] stsp commented on #64
I think these are meaningless.
I've seen random addresses.
And they seems to be printed out very slowly,
as if the CPU is overloaded by some level-triggered irq.

[2015-07-03 06:57] gclement commented on #58
First RFC submitted: http://www.spinics.net/lists/arm-kernel/msg428868.html

[2015-07-03 09:02] tpetazzoni commented on #64
@stsp Can you try with https://github.com/MISL-EBU-System-SW/mainline-public/tree/4.1/cpuidle-test-axp ? This is 4.1 + the cpuidle patch reverted + switch back from automatic I/O sync barriers to explicit ones (note: we know there are issues when using explicit barriers, which is why we switched to automatic).

I've tried here, and it does seem to be better, I haven't reproduce so far. But another

[2015-07-03 12:39] tpetazzoni commented on #64
@stsp With the above branch, I have been able to read a full 500 GB hard disk with no problem. So it seems like the interaction of DEEP_IDLE with automatic I/O sync barriers is causing problems.

[2015-07-03 13:43] stsp commented on #64
No help (tested with mvsas).
I also enabled the NO_HZ, and now it locks up
even before the booting process is completed,
no need to run a test-case.
I'll be mailing you my kernel image.

[2015-07-03 13:45] tpetazzoni commented on #64
@stsp You tested https://github.com/MISL-EBU-System-SW/mainline-public/tree/4.1/cpuidle-test-axp, or https://github.com/MISL-EBU-System-SW/mainline-public/tree/4.1/cpuidle-test-axp with the two last patches reverted ?

[2015-07-03 13:46] tpetazzoni commented on #64
Also, from a NO_HZ point of view, what I have is:

[code]

I have no idea whether CONFIG_NO_HZ_FULL can work or not.

[2015-07-03 13:47] stsp commented on #64
I tested both without 2 last patches (to make
sure I am on the right track), and then with all
patches (that are reverts).
Anyway, I'll mail you my kernel so you can make
sure I did the right thing. Config is available in
/proc/config.gz

[2015-07-03 13:51] stsp commented on #64
I mailed you my kernel.
Here's the git log:

commit c5e1bae15f6d40ef770159d200fd6969c99ae99f
Author: root <root@node-010-117.dcenter.rikor.com>
Date:   Fri Jul 3 16:18:51 2015 +0300

    Revert "ARM: Blacklist GCC 4.8.0 to GCC 4.8.2 - PR58854"

    This reverts commit 7fc150543c73de71859631c8a6b17e3067fe7617.

commit ba52c7abe9c0b51d8e403fae65ca3cf0916a3cfb
Author: Thomas Petazzoni <thomas.petazzo

[2015-07-03 13:51] stsp commented on #64
There is just one additional revert on top of your branch.

[2015-07-03 14:37] tpetazzoni commented on #64
I'm not able to boot your kernel, it doesn't mount my NFS root filesystem, while it does with my kernel:

[code]

The kernel command line is unchanged between booting my kernel and yours.

[2015-07-03 14:48] stsp commented on #64
You need nfsvers=3 option in kernel
command line (it may also be 'v3' in case
initramfs handles the nfs mount).
Now one very interesting thing: it seems
it no longer freezes with sata-mv! The freeze
is remained only with mvsas. Very strange...
So you will not be able to reproduce any more.
Great. :(

[2015-07-03 15:34] stsp commented on #64
I'll do more testing.
Another engineer says he can't reproduce the
problem. We will compare our environments.

[2015-07-03 15:41] stsp commented on #64
I think I am hitting some other bug.
Another engineer says your changes work
well. I think you can close this if you want,
and I'll open a new report once I find out why
it still locks up for me.

[2015-07-03 18:32] stsp commented on #64
I am definitely hitting some different bug.
Sorry for the false alarm, and please proceed
with your reverts.
Thanks!

[2015-07-04 08:15] tpetazzoni opened #75 "Fix i2c offloading"
As Antony Pavlov noticed, there is an unconditional "return false" at the beginning of the mv64xxx_i2c_can_offload() function which makes the offload mechanism never used. We need to remove it, and retest if the I2C works correctly.

[2015-07-06 09:17] tpetazzoni commented on #64
@stsp Thanks for confirming. Unfortunately no, reverting the patches is not the proper solution. There is a very good reason that lead us to switch to automatic I/O barriers rather than manual ones. And reverting to manual ones will cause subtle memory corruption issues with the devices doing DMA. So clearly not something you want to do.

For now, I believe the only possible solution is to disable

[2015-07-06 09:47] stsp commented on #64
Is there any reading for me to understand the problem
with manual barriers in details? Is this problem armada-specific?
Do you think we hit a hw errata here?

Well, I simply disable mvebu cpuidle in the config, and
that works fine till you provide a better solution.

[2015-07-06 09:52] tpetazzoni commented on #64
See http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=a0b5cd4ac2d6542d524d8063961bf914b5df1efa for a detailed explanation of why manual barriers are not working correctly.

This problem is indeed Armada specific, since it's one of the very few platform that supports HW I/O coherency.

Regarding hitting a HW errata or not, I don't know for the moment.

[2015-07-06 10:08] stsp commented on #64
Yes, I've read that already.
About the initial problem it says only

"but also for coherent DMA mappings (which is a lot less easy to do, since the kernel assumes such
mappings are coherent and don't require any sort of cache maintenance operation to ensure the
consistency of the buffers)."

From this very short description I've got an impression
that the problem is solvable with an explicit barri

[2015-07-06 10:17] tpetazzoni commented on #64
@stsp You would have to change all PCI drivers that use a coherent DMA allocation to make sure that before they look at the DMA coherent area, they ensure consistency of the CPU view of the buffer by making an explicit I/O sync barrier.

You really want to change all PCI drivers?

[2015-07-06 10:31] stsp commented on #64
No, I only want to understand the problem, not
to change the drivers. :)
So do you mean dma_alloc_coherent() will on
armada-xp return the non-coherent region, unless
the automatic IO barriers are enabled?

[2015-07-06 11:22] tpetazzoni commented on #64
@stsp dma_alloc_coherent() will return a coherent region, but it will not be properly coherent, because writes made by the devices are not guaranteed to be visible by the CPU until you do a manual I/O sync barrier (of course, unless you use automatic I/O barriers).

[2015-07-06 11:52] stsp commented on #64
The sync barriers were conditional, and there was a comment:

-/* Only on HW I/O coherency capable platforms */

So there are the incapable platforms somewhere as well
(orion5x, kirkwood and dove, according to google)
Yet the PCI drivers are the same, they work there
too I suppose?

[2015-07-06 11:56] tpetazzoni commented on #64
Yes, such platforms don't have HW I/O coherency. So they do SW I/O coherency, which requires doing explicit cache maintenance operations when doing DMA. The point of HW I/O coherency is to avoid those costly cache maintenance operations by having the HW directly taking care of cache flush/invalidation when a DMA transfer is hitting some memory that currently sits in the cache.

[2015-07-06 12:08] stsp commented on #64
Yes, that's quite clear.
What is not clear is why there is no problems
with SW I/O coherency on orion5x, kirkwood and dove,
but "You would have to change all PCI drivers..." on
armada-xp? What is the difference, what makes the
sw coherency exceptionally difficult on armada-xp,
while no problem on orion-5?

[2015-07-06 12:12] tpetazzoni commented on #64
Armada XP is using HW I/O coherency, not SW I/O coherency. You are confusing the three following possibilities:
 - SW I/O coherency. This is used on Kirkwood, Orion5x, Dove, etc.
 - HW I/O coherency with explicit I/O barriers. This is what we used to use on Armada XP, 375, 38x, but it doesn't work properly because some of the explicit I/O barriers are needed at points for which the Linux kernel do

[2015-07-06 12:17] stsp commented on #64
Ah, thanks, I was confusing 1 and 2.
I'll google what option 2 actually is, but 1 is quite clear,
so why not armada-xp can just do SW I/O coherency
and stay out of troubles?

[2015-07-06 12:21] tpetazzoni commented on #64
Performance.

[2015-07-06 12:23] stsp commented on #64
Who cares, while the rest does not work at all. :)
I'd vote for a config option, at least for a time.
Anyway, thanks for your time!

[2015-07-06 12:30] stsp commented on #64
Btw, is there any simple way to test with SW coherency?
I can measure the performance as well.

[2015-07-07 14:45] tpetazzoni commented on #31
@haklai Do you have some input about the second item? Do we care about this feature in general?

[2015-07-16 08:35] eranba commented on #75
Just removing the "return false" will probably won't be enough  to enable the offloading feature for certain devices(A38x, A39x etc), right ?
Seems like the "offload_enabled" flag should be set as well.

[2015-09-23 21:11] stsp commented on #64
Ping!
No solution in 4.2. :(
It isn't too difficult to provide the SW coherency
as a work-around at least?

[2015-09-23 21:15] tpetazzoni commented on #64
Well, right now the solution we will most likely implement is to disable the deepest cpuidle state. Would this be OK for you?

[2015-09-23 21:17] stsp commented on #64
Better than nothing.
Still I would prefer to be able to choose
between this and software coherency -
in case the power saving is more important
than the performace (run-time selection would
be ideal, but I am not hoping for that)

[2015-10-20 09:42] stsp commented on #73
Gregory, we do still observe the SPI
data corruption, its just much less frequent,
but happens. Were there any further fixes
after this one?

[2015-10-20 09:45] stsp commented on #73
In fact, I only applied a single patch, based on
this comment of yours:
"Fix maximum baud rates for Armada 370/XP" is enough."
Should I try also the rest?

[2015-10-28 13:27] stsp opened #76 "fw_setenv works unreliably"
I have spi flash n25q128a13.
When using fw_setenv, most of the times the
environment gets corrupted. The important thing
is to always write different strings, like
fw_setenv tst test1
fw_setenv tst test2
fw_setenv tst test3
If you write always the same string, the problem
does not happen, which makes me to suspect
that erase doesn't work.
The problem does not appear on marvel kernel.

[2015-10-28 16:55] stsp commented on #76
I fixed the problem, but I don't know how to attach
the patch files to the ticket.

[2015-10-28 16:56] stsp commented on #76
From 632e0e21d7520929c42eaa4835cc000847c6a736 Mon Sep 17 00:00:00 2001
From: Stas Sergeev <stsp@users.sourceforge.net>
Date: Wed, 28 Oct 2015 19:36:59 +0300
Subject: [PATCH 1/2] spi_nor: use spi_nor_wait_till_ready() before operations

---
 drivers/mtd/spi-nor/spi-nor.c | 16 ++++++++++++++++
 1 file changed, 16 insertions(+)

diff --git a/drivers/mtd/spi-nor/spi-nor.c b/drivers/mtd/spi-nor/spi-nor

[2015-10-28 16:56] stsp commented on #76
Grr

[2015-11-06 13:37] gclement commented on #76
I think the best option is to post your patch on the mtd mailing list.

[2015-11-06 13:41] stsp commented on #76
I posted the patch here:
https://bugzilla.kernel.org/show_bug.cgi?id=106881
mtd list is unhelpful afaik, I tried to post some patches
there in the past.
Since this is likely not related to marvel, lets close this.

[2015-11-06 14:35] ezequielgarcia commented on #76
Stas,

The MTD mailing list is quite active and responsive as well. I think it would be very interesting to have your fixes :-)

Regarding the two patches you've attached:

1) "m25p80: dont swallow erase return status" is obviously correct

2) "spi_nor: use spi_nor_wait_till_ready() before operations" seems to be papering over some other bug. Putting a wait_till_ready before calling prepare() ever

[2015-11-06 15:33] stsp commented on #76
I tried to post a patch there that adds a very simple
tool for marking bad blocks:
http://lists.infradead.org/pipermail/linux-mtd/2014-April/053492.html
and there was no resp.
When I got the more complex patches, I tried to upstream
them via ST:
https://bugzilla.stlinux.com/show_bug.cgi?id=47769#c15
but that didn't work too.
So as of yet I have no place where the mtd patches can
be reviewed or ups

[2015-11-06 20:54] stsp commented on #76
You can boot with boot.blk, and at one point
reset int1e back to dosemu bios to see if it will
then still boot.

[2015-11-06 20:54] stsp commented on #76
Oops, wrong window, sorry

[2015-11-07 14:53] ezequielgarcia commented on #76
Do you have some isolated test that I can run here that exhibits
the bug? (without using fw_setenv). That'll help fix the bug.

[2015-11-07 19:26] stsp commented on #76
Very strange requirement. Why without fw_setenv?
What can that be at all? With flash_erase I didn't
hit the problem, and I don't know any other tool.

[2015-11-17 11:31] stsp commented on #76
@ezequielgarcia I uploaded a much smaller patch.
Could you please review?

[2015-11-17 12:41] ezequielgarcia commented on #76
@stsp Hm, can't find any uploads.

[2015-11-17 12:42] stsp commented on #76
https://bugzilla.kernel.org/attachment.cgi?id=193801

[2015-11-17 12:44] ezequielgarcia commented on #76
Ah, I see. This looks much better. Is this enough to fix all your issues
with the SPI?

I've asked the MTD maintainer (US timezone, so we'll have to wait).
Meanwhile, have you checked your SPI flash datasheet? Maybe it specifies
this is needed?

[2015-11-17 12:50] ezequielgarcia commented on #76
@stsp Just to check: which repo / branch is your patch applying to?

[2015-11-17 13:09] stsp commented on #76
Oh, this is some old 4.0.0-rc2 with many patches from
this bugzilla. I'll be having problems to check if the problem
is still present in the latest kernel. :(

Together with SPI patches from @gclement - yes.

I am now looking in datasheet to find something interesting.

[2015-11-17 13:10] ezequielgarcia commented on #76
@stsp From the N25Q spec:

""
WRITE STATUS REGISTER Command
[..]
When the operation is in progress, the write in progress bit is set to 1. The write enable
latch bit is cleared to 0, whether the operation is successful or not. The status register
and flag status register can be polled for the operation status. When the operation completes,
the write in progress bit is cleared to 0, whether the ope

[2015-11-17 13:12] stsp commented on #76
Of course I'd like you to!
It is nearly impossible for me because I can
work only on some 4.0-rc2 or have the major
headache upgrading and moving forward all
the patches I have.

[2015-11-17 13:13] stsp commented on #76
Thank you!

[2015-11-17 13:14] ezequielgarcia commented on #76
@stsp No problem :)

[2015-11-17 13:14] #76 closed

[2015-11-17 21:07] stsp commented on #76
Please in either case keep me in CC.

[2015-11-17 21:09] ezequielgarcia commented on #76
@stsp: sure

[2015-12-01 22:19] stsp commented on #76
@ezequielgarcia I was CCed with your initial msg.
No reply as of yet?

[2015-12-02 15:45] stsp commented on #76
@ezequielgarcia It also seems as if you only posted
one patch from 2?

[2015-12-02 15:50] ezequielgarcia commented on #76
@stsp Brian will merge the patch sooner or later, don't worry.

Regarding the other patch, m25p80 no longer implements its own erase, so the patch is not needed. Fixed here:

http://git.infradead.org/l2-mtd.git/commit/cd78ea02dc82eb26be8c2fc1cf05adbf94ea8727

[2015-12-03 15:40] stsp commented on #64
Ping!
Still no solution to this?

[2015-12-03 15:53] tpetazzoni commented on #64
No, it's a HW issue it seems: you can't use the deep-idle state and automatic I/O sync barriers.

[2015-12-03 15:58] stsp commented on #64
But there are many work-arounds.
Why not to apply some?
SW barriers, no deep-idle, etc.
Why leaving such a bad problem forever?
Have you asked marvell about the possible
solution?

[2015-12-03 16:13] tpetazzoni commented on #64
At this point, the easiest solution seems to be to disable deep-idle.

As to whether we asked Marvell, yes we did, but they never used the automatic I/O sync barrier mechanism in their LSP (it was acceptable for them to use the explicit I/O barriers and hack the device drivers to be compliant with the needs of explicit I/O barriers). Due to this, they don't have much feedback on the stability/issu

[2015-12-03 16:19] stsp commented on #64
Why SW barriers is not the easiest solution?
Anyway, there seem to be no solution at all as of yet,
despite of 2 easiest solutions!

What is not an "old" server soc btw? What soc is
up-to-date now, and has fewer problems under linux?

[2015-12-03 16:40] tpetazzoni commented on #64
Explicit barriers cannot work in a generic way, because you need such barriers even for coherent DMA buffers, while the kernel expect such mappings to be fully coherent and require absolutely zero maintenance. See http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=a0b5cd4ac2d6542d524d8063961bf914b5df1efa for more details.

Where do you see two easy solutions ? There's only o

[2015-12-03 16:43] stsp commented on #64
Thomas, please see the earlier part of this thread:

@stsp
so why not armada-xp can just do SW I/O coherency
and stay out of troubles?
@tpetazzoni
Performance.

So it seems you already said SW barriers can be used
with some performance hit.

[2015-12-03 16:51] tpetazzoni commented on #64
Ah, sorry you said SW I/O coherency, not explicitly HW I/O sync barriers. My bad. Indeed, the main reason for using HW I/O synchronization is to avoid all the cache maintenance operations involved with doing SW I/O coherency. Maybe we should bite the bullet and provide an option to enable/disable this, so that users can chose between having HW I/O coherency or deep-idle.

[2015-12-03 16:52] stsp commented on #64
Yes!!! That's what I was asking for in all the tail
of this thread. :)

[2016-02-10 09:17] tpetazzoni commented on #75
The offload_enabled flag is already set when the compatible string is marvell,mv78230-i2c.

The unconditional "return false" was removed as part of commit 0729a04977d497cf66234fd7f900ddcec3ef1c52, so this issue can be closed.

[2016-02-10 09:17] #75 closed

[2016-02-10 09:20] tpetazzoni commented on #67
The fine tuning of the L2 on 375, 38x and 39x has been merged as part of c8f5a878e55459b78bac273f6492bbc91475beb5.

However the L1 prefetch enabling has not been merged so far. I posted it again on January 2016 (http://lists.infradead.org/pipermail/linux-arm-kernel/2016-January/402819.html) but there was no feedback.

Gregory, do you remember what was the deal with the wt-override property on 370/

[2016-02-10 10:00] gclement commented on #67
I don't find any answer about the use of wt-override property on 370/XP.

[2016-03-15 14:02] #66 closed

[2016-04-08 06:31] jmaggard10 commented on #64
I'm struggling with Armada XP hard lockups as well under load, on ReadyNAS 2120.  This machine has 4 SATA channels provided by 2 88SE9170 connected to the PCIe bus.  So far I've only been able to make this happen when using both PCIe SATA controllers concurrently (for example, a RAID 5 across all 4 SATA channels).

I've tried vanilla 4.1.20 and 4.4.6, and both usually lock up within a matter of a

[2016-04-08 06:47] jmaggard10 commented on #64
Oh, I should probably mention, this is with mv_xor disabled.  Using mv_xor results in a panic due to an async_tx timeout, but that's another story...

[2016-04-08 09:52] stsp commented on #64
I would suggest you to try "git bisect".
Please note that while bisecting, you need to make sure
the patch
1737cac6936
bus: mvebu-mbus: make sure SDRAM CS for DMA don't overlap the MBus bridge wi
is always reverted, because it is an additional source
of the lock-ups.

[2016-08-11 21:53] tylerwhall commented on #31
@tpetazzoni We recently discovered after months of debugging that the snoop filter is necessary for ldrex/strex correctness on Armada XP. This was causing rare inexplicable spin lockups in mutex and rwsem paths.

I can provide more details, but the observed behavior is that strex seems to erroneously allow the store to complete while returning a failure, causing the ldrex to retry. This wreaks hav

[2016-08-11 22:04] tpetazzoni commented on #31
@tylerwhall Wow, thanks for this feedback, definitely very useful! An upstreamable patch would be nicer, but maybe we'll find some time on our side to do such a thing. I still haven't heard from Marvell about the pre-condition that the L1 cache should be disabled when enabling the snoop filter.

[2016-08-11 22:37] semihalf-wojtas-marcin commented on #31
@tpetazzoni Thomas, do you think this could have been a reason to the hangs you saw doing stress test with s2ram? Unless you tested it on a38x...

[2016-08-12 13:55] tpetazzoni commented on #31
@semihalf-wojtas-marcin The hangs I was seeing was mainly on Armada 38x. On Armada XP, the remaining suspend/resume issue was with the EHCI controller. So unfortunately, I don' think this snoop filter thing will solve this particular problem :-/

[2017-01-03 11:55] seragh commented on #64
I reenabled cpuidle on an armada-385 with kernel 4.10-rc1 and the device reboots after a minute or two. So no dice as is. Reading this thread the cause seems to be know. I prefer power savings over performance for a device that's almost always idle so I was wondering if such a patch is floating around already.

[2017-02-02 00:17] jmaggard10 opened #77 "Armada 370 USB reset"
I'm hitting an issue on various Armada 370 systems, where the orion-ehci USB host gets hard reset during file transfers to certain models of USB3 flash drives.  The Linux kernel usb_storage debug messages report that occasionally a bulk transfer will fail.  I've seen error code 104 (ECONNRESET) and 71 (EPROTO) reported so far.

I've tried vanilla kernel.org kernels from 4.1 to 4.10-rc6, all with t

[2017-07-13 13:35] bbolen commented on #27
I'm looking at an issue on an Armada XP based board that could possibly be related to this errata.  It doesn't look like the patch referenced in http://www.spinics.net/lists/arm-kernel/msg246560.html made it into the upstream kernel.  Did a workaround for this errata go into the kernel in some other form or is it still an open issue?  Thanks.

[2018-07-01 12:26] infus38 commented on #69
hi just wanna know if anyone fixed it pleas

[2019-03-29 23:49] stsp commented on #64
By the way, maybe a dumb question...
@tpetazzoni can this problem be fixed by,
for example, creating an uncacheable DMA
mapping instead of fiddling with the barriers?

[2019-05-29 02:39] qume opened #81 "UART1 on 3720"
I have the kernel reporting UART1 / /dev/ttyMV1, the serial port on pins 24 and 26 on the Espressobin board. However I am unable to send or read any data from it.

It is enabled in the device tree.

The TX pin sits at a constant 1.8v, regardless of sending characters to it.

I see from a discussion @Kodest had this working on the ESPRESSObin v5.0.1. I am using the v7 board. Discussion here:
https:

[2019-05-29 06:46] miquelraynal commented on #81
Can you share the diff adding the DT node? Did you point somehow to <&uart2_pins> in a pinctrl-default property? Have you disabled any other pin function that could be enabled on the same MPP pin? (something like I2C/SPI/MMC).

Also, what is your kernel version? Does the driver support the extended UART compatible (marvell,armada-3700-uart-ext)? See for instance ac9a44b80c2b ("serial: mvebu-uart:

[2019-05-31 01:48] qume commented on #81
I'm using the branch "linux-4.14.76-armada-18.12". Diff at bottom of this note. I tried 4.4.52, and got the same behaviour, although it did get an IRQ (8). But constant crashing so switched to 4.14 which seems stable.

I haven't enabled anything else on the pin, however I'm not familiar enough with the whole DT system to be able to check for sure nothing was already enabled. I did confirm that no

[2019-05-31 03:33] qume commented on #81
Note I have tested three boards with the same behaviour.

[2019-06-17 09:24] miquelraynal commented on #81
I just built and run a Marvell 4.14.76 kernel, the interrupts are fine and both ttyMV{0,1} are up.
[code]

The only change in the DT is:

[code]

Here is [the config file I used](http://code.bulix.org/088rj7-774069).

[2020-07-21 16:42] eero-chao commented on #69
Hi team is there an update on this issue?

[2020-07-21 17:29] tpetazzoni commented on #69
We (Bootlin) are currently no longer actively working on Marvell platform support.

[2020-10-06 18:49] shesselba commented on #64
While I finally managed to get back to my Armada XP based ix4-300d NAS, I was hit by the issue described here.
The issues seen here are (at least) caused by three Bugs/Issues in HW and/or kernel code in mainline v5.8.

a) first one is caused by DFS and produces a oops where one CPU complains that the other does not respond anymore. It does not occur when not using cpufreq driver or passing max_cpu